:root {
    --accent-color : #2196F3;
    --primary-text-color : #212121;
    --secondary-text-color : #FFFFFF;
    --black-text-color: #000000;
    --gray-text-color: #757575;
    --primery-background-color: #2F303A;
    --modal-btn-backgraund:#188CE8;
    --portfolio-btn: #F5F4FA;
    --portfolio-background-color: #F5F4FA;
    --portfolio-block: #EEEEEE;
    --email-phone-footer-color: rgba(255, 255, 255, 0.6);
    --primary-font : Roboto,sans-serif;
    --secondary-font : Raleway;
    --border:#ECECEC;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}
.sections {
padding-top: 94px;
padding-bottom: 94px;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border);
}
/*Container*/
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;
}
.features-container {
display: flex;
align-items: center;
justify-content: space-between;
}
.page-header-container {
display: flex;
align-items: center;
justify-content: space-between;
}
.page-nav {
display: flex;
align-items: center;
}

.list-item {
list-style : none;
text-decoration: none;
display: flex;
justify content: center;
flex-wrap: wrap;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    font-family: inherit;
    cursor: pointer;
}
body {
    font-family: var(--primary-font);
}

/*navigation*/

.menu-item:not(:last-child) {
margin-right: 50px;
}

.web {
color: var(--accent-color);
}
.studio {
color: var(--black-text-color);
}
.logo {
font-family : var(--secondary-font);
font-weight: 700;
font-size : 26px;
line-height : 1.19;
letter-spacing : 0.03em;
text-decoration: none;
margin-right: 93px;
}
.menu {
display: flex;
align-items: center;
}
.menu-link {
font-weight : 500;
font-size : 14px;
line-height : 1.29;
color: var(--primary-text-color);
}

.site-nav 
.current {
color: var(--accent-color);
}

.navigation-list-link:hover, .navigation-list-link:focus {
color: var(--accent-color);
}

.navigation-list-link {
color: var(--accent-color);
list-style : none;
text-decoration : none;
}

.navigation-list-link {
font-weight: 500;
font-size: 14px;
line-height : 1.14;
letter-spacing : 0.02em;
color: var(--primary-text-color);
}

.fhone-number {
color: var(--gray-text-color)
}
.e-mail {
color: var(--gray-text-color);
}

/* hero */
.hero {
background-color: var(--primery-background-color);
padding-top: 200px;
padding-bottom: 200px;
text-align: center;

}
.hero-containar {
display: flex;
flex-direction: column;
}

.slogan {
width: 696px;
margin: 0 auto 20px auto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--secondary-text-color);
}

/*color: #ffffff */

.modal-btn:hover .modal-btn:focus {
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn {
display: block;
padding: 10px 32px;
border-radius: 4px;
align-items: center;
text-align: center;
width: 216 px;
border: none;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
background-color: var(--modal-btn-backgraund);
color : var(--secondary-text-color);
margin-left: auto;
margin-right: auto;
}
/* hero */

/* feature */
.visually-hidden {
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

.our-features {
padding-bottom: 0px;
}

.feature {
margin-bottom: 10px;
font-weight: 700;
font-size : 14px;
line-height : 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.list-item-feature {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.features-text {
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--gray-text-color);
letter-spacing: 0.03em;
}
/* services */

.title-services {
margin-bottom: 50px;
font-weight: 700;
font-size : 36px;
line-height : 1.16;
text-align : center;
letter-spacing: 0.03em;
color : var(--primary-text-color);
}
.list-item-services {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify content: center;
    flex-wrap: wrap;
    gap: 30px;
}

    /* /services*/

/* наша команда */

.our-team {
padding-left: 0px;
padding-right: 0px;
background-color: var(--portfolio-background-color);
}

.list-item-employees {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.cards {
padding-top: 30px;
padding-bottom: 30px;
}
.name-employees {
margin-bottom: 10px;
font-weight: 500;
font-size:16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color : var(--primary-text-color);
}

.speciality {
font-weight: 400;
font-size : 16px;
line-height : 1.18;
text-align: center;
letter-spacing: 0.03em;
color : var(--gray-text-color);
}
 /* portfilio */
 .sections-portfolio {
padding-top: 94px;
padding-bottom: 94px;
 }

.list-item-portfolio {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify content: center;
    flex-wrap: wrap;
    gap: 30px;
}

 .button-position {
display: flex
background-color: F5F4FA;
padding; 24px 2px;
justify-content: center;
margin-bottom: 50px;
gap: 8px;
 }
 
.title {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
text-align: left;
letter-spacing: 0.03em;
color: var(--gray-text-color);
}
.projects {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
text-align: left;
margin-bottom: 4px;
color: var(--primary-text-color);
}
.portfolio-button {
font-weight: 500;
font-size : 16px;
line-height : 1.62;
letter-spacing: 0.03em;
padding: 6px 22px;
border-radius: 4px;
border: none;
color:var(--primary-text-color);
background-color : var(--portfolio-btn);
}
.portfolio-button:hover,
.portfolio-button:focus {
color: var(--secondary-text-color);
background-color: var(--accent-color);
}

.cards-poster {
padding: 20px 24px;
border: 1px solid #eee;
border-top: none;
border-color: #EEEEEE;
}

 /* footer */
.footer-block {
display: flex;
flex-direction: column;
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--primery-background-color);
 }
 .list-item-footer{
list-style: none;
text-decoration: none;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 9px;
 }
 .logo-footer {
display: flex;
margin-bottom: 20px;
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
 }
 .web-footer {
color: var(--accent-color);
 }
 .studio-footer {
color: var(--secondary-text-color);
 }
 .address-footer {
margin-bottom: 9px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;   
letter-spacing: 0.03em;
color: var(--secondary-text-color);
 }
.email-footer {
margin-bottom: 9px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;    
letter-spacing: 0.03em;
color: var(--email-phone-footer-color);
}

 .fhone-number-footer {
margin-bottom: 0px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--email-phone-footer-color)
 }
  /* fFooter */
